In [33]:
l = [0,1,2,3,4,"mit"]
t = (0,1,2,3,4,"mit")

In [ ]:
l[5]

In [10]:
l[5] = "m"

In [11]:
l[5]

'm'

In [12]:
t[5]

'mit'

In [13]:
t[5] = 'm'

TypeError: 'tuple' object does not support item assignment

In [24]:
def divideA(x,y):
    q = x // y
    r = (x % y) / y
    return(q + r)

In [25]:
divideA(11,2)

5.5

In [28]:
t[0],

(0,)

In [38]:
def get_data(aTuple):
    nums = ()
    words = ()
    for t in aTuple:
        nums = nums + (t[0],)
        if t[1] not in words:
            words = words +(t[1],)
    min_n = min(nums)
    max_n = max(nums)
    unique_words = len(words)
    return(min_n, max_n, unique_words)

In [41]:
tswift = ((2014,"Katy"),
         (2014, "Harry"),
         (2012,"Jake"),
         (2010,"Taylor"),
         (2008,"Joe"))

In [42]:
get_data(tswift)

(2008, 2014, 5)

In [43]:
t = [1,2,3,["a,","b"],4]

'a,'